In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
#from scipy import stats
import seaborn as sns

In [16]:
# Importing enrollment data for mid-school year 2022/2023
enrollment = pd.read_excel("../data/MNPS_Enrollment_Data_011723.xls")

enrollment

,School Year,School Level,School ID,School Name,State School ID,Zip Code,Total Enrollment,Grade PreK 3yrs,Grade PreK 4yrs,Grade K,...,Black or African American,Hispanic/Latino,Native Hawaiian or Other Pacific Islander,White,Male,Female,Economically Disadvantaged,Students with Disabilities,Limited English Proficiency,DataAsOf
0,22-23,Elementary School,496,A. Z. Kelley Elementary,1,37013,707,NaN,6%,18%,...,37%,27%,< 10,20%,53%,47%,33%,11%,44%,01/17/2023
1,22-23,Elementary School,375,Alex Green Elementary,5,37189,439,< 10,7%,18%,...,79%,11%,< 10,10%,51%,49%,69%,11%,17%,01/17/2023
2,22-23,Elementary School,105,Amqui Elementary,10,37115,514,< 10,6%,15%,...,44%,44%,< 10,11%,49%,51%,53%,10%,33%,01/17/2023
3,22-23,Elementary School,460,Andrew Jackson Elementary,15,37138,473,< 10,7%,19%,...,32%,15%,< 10,47%,56%,44%,22%,16%,9%,01/17/2023
4,22-23,High School,110,Antioch High School,20,37013,2129,NaN,NaN,NaN,...,33%,50%,< 10,13%,52%,48%,29%,11%,37%,01/17/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,22-23,Middle School,770,West End Middle,690,37205,345,NaN,NaN,NaN,...,42%,7%,< 10,46%,53%,47%,23%,22%,< 5%,01/17/2023
157,22-23,Elementary School,775,Westmeade Elementary,695,37205,375,NaN,NaN,21%,...,37%,14%,< 10,39%,53%,47%,30%,13%,14%,01/17/2023
158,22-23,High School,787,Whites Creek High School,704,37189,602,NaN,NaN,NaN,...,78%,11%,< 10,11%,54%,46%,61%,18%,9%,01/17/2023
159,22-23,Middle School,612,William Henry Oliver Middle,538,37211,680,NaN,NaN,NaN,...,31%,19%,< 10,42%,52%,48%,29%,13%,25%,01/17/2023
160,22-23,Middle School,805,Wright Middle,715,37211,697,NaN,NaN,NaN,...,17%,69%,< 10,10%,53%,47%,38%,11%,67%,01/17/2023

In [17]:
# Importing letter grades assigned to schools by TN Dept. Education
grade = pd.read_excel("../data/2022-23_A-F_Letter_Grade_File.xlsx")

# Filtering for MNPS schools
grade = grade[grade['system_name']=='Metro Nashville Public Schools']

grade

,year,system,system_name,school,school_name,lg_ineligible,school_pool,grade_band_3-5,grade_band_6-8,grade_band_9-12,...,ccr_asvab_rate,ccr_rate_ed,ccr_rate_el,ccr_rate_swd,ccr_rate_aian,ccr_rate_asian,ccr_rate_black,ccr_rate_hispanic,ccr_rate_nhpi,ccr_rate_white
267,2023,190,Metro Nashville Public Schools,1,A. Z. Kelley Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
268,2023,190,Metro Nashville Public Schools,3,MNPS Virtual School,0,HS,Y,Y,Y,...,<5%,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count
269,2023,190,Metro Nashville Public Schools,5,Alex Green Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
270,2023,190,Metro Nashville Public Schools,10,Amqui Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
271,2023,190,Metro Nashville Public Schools,15,Andrew Jackson Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,2023,190,Metro Nashville Public Schools,8085,KIPP Nashville College Prep Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
424,2023,190,Metro Nashville Public Schools,8090,Strive Collegiate Academy,0,K8,N,Y,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
425,2023,190,Metro Nashville Public Schools,8095,KIPP Academy Nashville Elementary School,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
426,2023,190,Metro Nashville Public Schools,8100,RePublic High School,0,HS,N,N,Y,...,<5%,15.8,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,12.2,26.8,Insufficient N Count,Insufficient N Count
427,2023,190,Metro Nashville Public Schools,8110,KA @ The Crossings,0,HS,Y,Y,Y,...,<5%,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count