In [58]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
#from scipy import stats
import seaborn as sns

# Setting to view all columns
pd.set_option('display.max_columns', None)

In [59]:
# Importing enrollment data for mid-school year 2022/2023
enrollment = pd.read_excel("../data/MNPS_Enrollment_Data_011723.xls")

enrollment.head()

,School Year,School Level,School ID,School Name,State School ID,Zip Code,Total Enrollment,Grade PreK 3yrs,Grade PreK 4yrs,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12,American Indian or Alaska Native,Asian,Black or African American,Hispanic/Latino,Native Hawaiian or Other Pacific Islander,White,Male,Female,Economically Disadvantaged,Students with Disabilities,Limited English Proficiency,DataAsOf
0,22-23,Elementary School,496,A. Z. Kelley Elementary,1,37013,707,NaN,6%,18%,19%,20%,18%,21%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 10,15%,37%,27%,< 10,20%,53%,47%,33%,11%,44%,01/17/2023
1,22-23,Elementary School,375,Alex Green Elementary,5,37189,439,< 10,7%,18%,17%,13%,14%,17%,12%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 10,< 10,79%,11%,< 10,10%,51%,49%,69%,11%,17%,01/17/2023
2,22-23,Elementary School,105,Amqui Elementary,10,37115,514,< 10,6%,15%,18%,19%,14%,15%,12%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 10,< 10,44%,44%,< 10,11%,49%,51%,53%,10%,33%,01/17/2023
3,22-23,Elementary School,460,Andrew Jackson Elementary,15,37138,473,< 10,7%,19%,18%,13%,16%,13%,14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 10,< 5%,32%,15%,< 10,47%,56%,44%,22%,16%,9%,01/17/2023
4,22-23,High School,110,Antioch High School,20,37013,2129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 10,28%,27%,27%,18%,< 10,< 5%,33%,50%,< 10,13%,52%,48%,29%,11%,37%,01/17/2023

In [60]:
# Importing letter grades assigned to schools by TN Dept. Education
grade = pd.read_excel("../data/2022-23_A-F_Letter_Grade_File.xlsx")

# Filtering for MNPS schools
grade = grade[grade['system_name']=='Metro Nashville Public Schools']

grade.head()

,year,system,system_name,school,school_name,lg_ineligible,school_pool,grade_band_3-5,grade_band_6-8,grade_band_9-12,ach_score,growth_score,growth25_score,ccr_score,ach_score_weighted,growth_score_weighted,growth25_score_weighted,ccr_score_weighted,ach_weight,growth_weight,growth25_weight,ccr_weight,lg_score,lg_grade,overall_success_rate_all_students,overall_success_rate_ed,overall_success_rate_el,overall_success_rate_swd,overall_success_rate_aian,overall_success_rate_asian,overall_success_rate_black,overall_success_rate_hispanic,overall_success_rate_nhpi,overall_success_rate_white,success_rate_g3-5_ela,success_rate_g3-5_math,success_rate_g3-5_science,success_rate_g6-8_ela,success_rate_g6-8_math,success_rate_g6-8_science,success_rate_g6-8_social_studies,success_rate_g9-12_ela,success_rate_g9-12_math,success_rate_g9-12_science,success_rate_g9-12_social_studies,growth_numeracy_score,growth_literacy_score,growth_science_score,growth_social_studies_score,growth_ela_math_score_bhn,growth_ela_math_score_ed,growth_ela_math_score_el,growth_ela_math_score_swd,growth_ela_math_score_aian,growth_ela_math_score_asian,growth_ela_math_score_black,growth_ela_math_score_hispanic,growth_ela_math_score_nhpi,growth_ela_math_score_white,growth_ela_math_score_super_subgroup,ccr_rate,ccr_act_rate,ccr_postsec_rate,ccr_ic_rate,ccr_asvab_rate,ccr_rate_ed,ccr_rate_el,ccr_rate_swd,ccr_rate_aian,ccr_rate_asian,ccr_rate_black,ccr_rate_hispanic,ccr_rate_nhpi,ccr_rate_white
267,2023,190,Metro Nashville Public Schools,1,A. Z. Kelley Elementary,0,K8,Y,N,N,2,5,3,Not a High School,1,2,0.3,Not a High School,0.5,0.4,0.1,Not a High School,3.3,C,25.2,15.9,20.2,Insufficient N Count,Insufficient N Count,32.2,24.8,14.7,Insufficient N Count,31.8,23.1,28.2,23.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,Insufficient N Count,Insufficient N Count,4,4,3,3,Insufficient N Count,3,4,3,Insufficient N Count,4,4,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
268,2023,190,Metro Nashville Public Schools,3,MNPS Virtual School,0,HS,Y,Y,Y,2.6,3,4,2,1.3,0.9,0.4,0.2,0.5,0.3,0.1,0.1,2.8,C,26.5,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,11.3,Insufficient N Count,Insufficient N Count,13,Insufficient N Count,Insufficient N Count,Insufficient N Count,24.1,13.2,18.9,31.5,55.3,11,Insufficient N Count,34,3,4,3,2,3,3,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,4,Insufficient N Count,Insufficient N Count,3,3,41.9,32.6,25.6,<5%,<5%,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count
269,2023,190,Metro Nashville Public Schools,5,Alex Green Elementary,0,K8,Y,N,N,1,3,4,Not a High School,0.5,1.2,0.4,Not a High School,0.5,0.4,0.1,Not a High School,2.1,D,12.6,9.2,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,12.5,Insufficient N Count,Insufficient N Count,Insufficient N Count,10.1,15.6,11.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,3,Insufficient N Count,3,3,4,3,Insufficient N Count,Insufficient N Count,2,4,Insufficient N Count,Insufficient N Count,3,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
270,2023,190,Metro Nashville Public Schools,10,Amqui Elementary,0,K8,Y,N,N,1,4,3,Not a High School,0.5,1.6,0.3,Not a High School,0.5,0.4,0.1,Not a High School,2.4,D,18.9,12.2,17.3,6.5,Insufficient N Count,Insufficient N Count,13.4,19.5,Insufficient N Count,Insufficient N Count,16.6,20.3,20.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3,3,Insufficient N Count,3,4,3,3,Insufficient N Count,Insufficient N Count,4,3,Insufficient N Count,3,3,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
271,2023,190,Metro Nashville Public Schools,15,Andrew Jackson Elementary,0,K8,Y,N,N,4,3,3,Not a High School,2,1.2,0.3,Not a High School,0.5,0.4,0.1,Not a High School,3.5,B,44.1,26.7,Insufficient N Count,12.5,Insufficient N Count,Insufficient N Count,32.3,Insufficient N Count,Insufficient N Count,49.3,39.5,46.6,48.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,3,Insufficient N Count,3,2,Insufficient N Count,3,Insufficient N Count,Insufficient N Count,3,3,Insufficient N Count,3,3,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School

In [61]:
# Cleaning race columns ('American Indian or Alaska Native', 'Asian', 'Black or African American', 'Hispanic/Latino', 'Native Hawaiian or Other Pacific Islander', 'White')

# Defining a custom function to clean and convert race values.
def clean_machine(value):
    if isinstance(value, str):
        value = value.strip()
        if value.endswith('%'):
            value = value.rstrip('%')
        if value.startswith('<'):
            return None
        try:
            return float(value) / 100
        except ValueError:
            return np.nan
    return np.nan

# Using this function on the race columns
race_columns = [
    'American Indian or Alaska Native', 'Asian', 'Black or African American',
    'Hispanic/Latino', 'Native Hawaiian or Other Pacific Islander', 'White'
]

for col in race_columns:
    enrollment[col] = enrollment[col].apply(clean_machine)

# Estimating '<10%' and '<5%' by distributing the remaining percent amongst the estimated/low percent columns
def distributing_percentages(row):
    known_percent = row[race_columns].dropna().sum()
    remaining_percent = 1 - known_percent
    unknown_columns = row[race_columns].isna()
    num_unknowns = unknown_columns.sum()
    
    if num_unknowns > 0:
        distributed_percent = remaining_percent / num_unknowns
        row[race_columns] = row[race_columns].fillna(distributed_percent)
    return row

enrollment = enrollment.apply(distributing_percentages, axis=1)

# What is the demographic composition (e.g., race, ethnicity, socioeconomic status) of students within Metro Nashville Public Schools?

In [62]:
# Racial demographics

# Number of students of each race per school
for col in race_columns:
    enrollment[col + ' Count'] = enrollment[col] * enrollment['Total Enrollment']

# Getting the counts across all schools
total_counts = enrollment[[col + ' Count' for col in race_columns]].sum()

# Total district enrollment
total_enrollment = enrollment['Total Enrollment'].sum()

# Overall percent of students by race
overall_percentages = (total_counts / total_enrollment) * 100

# Results
print("Overall Percentages of Students by Race:")
print(overall_percentages)

Overall Percentages of Students by Race:
American Indian or Alaska Native Count              0.739244
Asian Count                                         3.218580
Black or African American Count                    39.234494
Hispanic/Latino Count                              32.032596
Native Hawaiian or Other Pacific Islander Count     0.739244
White Count                                        24.035842
dtype: float64

In [63]:
enrollment

,School Year,School Level,School ID,School Name,State School ID,Zip Code,Total Enrollment,Grade PreK 3yrs,Grade PreK 4yrs,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,Grade 8,Grade 9,Grade 10,Grade 11,Grade 12,American Indian or Alaska Native,Asian,Black or African American,Hispanic/Latino,Native Hawaiian or Other Pacific Islander,White,Male,Female,Economically Disadvantaged,Students with Disabilities,Limited English Proficiency,DataAsOf,American Indian or Alaska Native Count,Asian Count,Black or African American Count,Hispanic/Latino Count,Native Hawaiian or Other Pacific Islander Count,White Count
0,22-23,Elementary School,496,A. Z. Kelley Elementary,1,37013,707,NaN,6%,18%,19%,20%,18%,21%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.005000,0.150000,0.37,0.27,0.005000,0.20,53%,47%,33%,11%,44%,01/17/2023,3.535000,106.050000,261.59,190.89,3.535000,141.40
1,22-23,Elementary School,375,Alex Green Elementary,5,37189,439,< 10,7%,18%,17%,13%,14%,17%,12%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.79,0.11,0.000000,0.10,51%,49%,69%,11%,17%,01/17/2023,0.000000,0.000000,346.81,48.29,0.000000,43.90
2,22-23,Elementary School,105,Amqui Elementary,10,37115,514,< 10,6%,15%,18%,19%,14%,15%,12%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003333,0.003333,0.44,0.44,0.003333,0.11,49%,51%,53%,10%,33%,01/17/2023,1.713333,1.713333,226.16,226.16,1.713333,56.54
3,22-23,Elementary School,460,Andrew Jackson Elementary,15,37138,473,< 10,7%,19%,18%,13%,16%,13%,14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020000,0.020000,0.32,0.15,0.020000,0.47,56%,44%,22%,16%,9%,01/17/2023,9.460000,9.460000,151.36,70.95,9.460000,222.31
4,22-23,High School,110,Antioch High School,20,37013,2129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,< 10,28%,27%,27%,18%,0.013333,0.013333,0.33,0.50,0.013333,0.13,52%,48%,29%,11%,37%,01/17/2023,28.386667,28.386667,702.57,1064.50,28.386667,276.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,22-23,Middle School,770,West End Middle,690,37205,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37%,33%,30%,NaN,NaN,NaN,NaN,0.016667,0.016667,0.42,0.07,0.016667,0.46,53%,47%,23%,22%,< 5%,01/17/2023,5.750000,5.750000,144.90,24.15,5.750000,158.70
157,22-23,Elementary School,775,Westmeade Elementary,695,37205,375,NaN,NaN,21%,21%,19%,18%,21%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.100000,0.37,0.14,0.000000,0.39,53%,47%,30%,13%,14%,01/17/2023,0.000000,37.500000,138.75,52.50,0.000000,146.25
158,22-23,High School,787,Whites Creek High School,704,37189,602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29%,28%,25%,18%,0.000000,0.000000,0.78,0.11,0.000000,0.11,54%,46%,61%,18%,9%,01/17/2023,0.000000,0.000000,469.56,66.22,0.000000,66.22
159,22-23,Middle School,612,William Henry Oliver Middle,538,37211,680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20%,24%,26%,30%,NaN,NaN,NaN,NaN,0.000000,0.080000,0.31,0.19,0.000000,0.42,52%,48%,29%,13%,25%,01/17/2023,0.000000,54.400000,210.80,129.20,0.000000,285.60
160,22-23,Middle School,805,Wright Middle,715,37211,697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24%,27%,23%,26%,NaN,NaN,NaN,NaN,0.013333,0.013333,0.17,0.69,0.013333,0.10,53%,47%,38%,11%,67%,01/17/2023,9.293333,9.293333,118.49,480.93,9.293333,69.70